.MenuView {
  padding: 3rem 0;
  background: #D2C3AE;
  color: #101010;
}

.TabSelect {
  margin: 0.5rem 0 1rem 0;
}

.Loading {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}